.App-header {

  display: flex;
  color: white;
}
.Item__Todo{
  display: flex;
}
.Item__Li{
  cursor: pointer;
  list-style-type: none;
}
.Item__Li_done{
  cursor: pointer;
  list-style-type: none;
  text-decoration: line-through;

}